- name: 'Keyboard : Update configuration'
  debconf:
    name: keyboard-configuration
    question: '{{ item.key }}'
    value: '{{ item.value }}'
    vtype: '{{ item.vtype }}'
  become: yes
  register: update_configuration
  with_items: '{{ RASPBERRYPI_KEYBOARD_LAYOUT }}'

- name: 'Keyboard : Reload configuration'
  shell: |
    dpkg-reconfigure -f noninteractive keyboard-configuration
    invoke-rc.d keyboard-setup start
    setsid sh -c 'exec setupcon -k --force <> /dev/tty1 >&0 2>&1'
    udevadm trigger --subsystem-match=input --action=change
  become: yes
  when: update_configuration is changed
