- name: Get hostname
  become: yes
  command: raspi-config nonint get_hostname
  register: get_hostname
  changed_when: no

- name: Change hostname
  become: yes
  command: raspi-config nonint do_hostname {{ RASPBERRYPI_HOSTNAME }}
  when: get_hostname.stdout != RASPBERRYPI_HOSTNAME


- name: Get camera
  become: yes
  command: raspi-config nonint get_camera
  register: get_camera
  changed_when: no

- name: Enable camera
  command: raspi-config nonint do_camera {{ RASPBERRYPI_CAMERA_ENABLE }}
  when: get_camera.stdout|int != RASPBERRYPI_CAMERA_ENABLE


- name: Get VNC
  become: yes
  command: raspi-config nonint get_vnc
  register: get_vnc
  changed_when: no

- name: Enable VNC
  command: raspi-config nonint do_vnc {{ RASPBERRYPI_VNC_ENABLE }}
  when: get_vnc.stdout|int != RASPBERRYPI_VNC_ENABLE


- name: Get SPI
  become: yessuccess
  command: raspi-config nonint get_spi
  register: get_spi
  changed_when: no

- name: Enable SPI
  command: raspi-config nonint do_spi {{ RASPBERRYPI_SPI_ENABLE }}
  when: get_spi.stdout|int != RASPBERRYPI_SPI_ENABLE


- name: Get I2C
  become: yes
  command: raspi-config nonint get_i2c
  register: get_i2c
  changed_when: no

- name: Enable I2C
  command: raspi-config nonint do_i2c {{ RASPBERRYPI_I2C_ENABLE }}
  when: get_i2c.stdout|int != RASPBERRYPI_I2C_ENABLE


- name: Get serial
  become: yes
  command: raspi-config nonint get_serial
  register: get_serial
  changed_when: no

- name: Enable serial
  command: raspi-config nonint do_serial {{ RASPBERRYPI_SERIAL_ENABLE }}
  when: get_serial.stdout|int != RASPBERRYPI_SERIAL_ENABLE


- name: Get 1-Wire
  become: yes
  command: raspi-config nonint get_onewire
  register: get_onewire
  changed_when: no

- name: Enable 1-Wire
  command: raspi-config nonint do_onewire {{ RASPBERRYPI_1WIRE_ENABLE }}
  when: get_onewire.stdout|int != RASPBERRYPI_1WIRE_ENABLE


- name: Get Remote GPIO
  become: yes
  command: raspi-config nonint get_rgpio
  register: get_rgpio
  changed_when: no

- name: Enable Remote GPIO
  command: raspi-config nonint do_rgpio {{ RASPBERRYPI_RGPIO_ENABLE }}
  when: get_rgpio.stdout|int != RASPBERRYPI_RGPIO_ENABLE
