#- name: Check whether anyenv is installed
#  stat:
#    path: '/opt/anyenv'
#  register: st_anyenv
#  changed_when: no

- block:
  - name: 'Anyenv : Install packages'
    apt:
      name: git
      autoclean: yes
    become: yes

  - name: 'Anyenv : Clone anyenv'
    git:
      repo: 'https://github.com/riywo/anyenv'
      dest: '/opt/anyenv'
    become: yes

#  - name: Set owner/group for anyenv
#    file:
#      path: '{{ ANYENV_PREFIX }}/anyenv'
#      owner: '{{ ANYENV_OWNER }}'
#      group: '{{ ANYENV_GROUP }}'
#      recurse: yes
#    become: yes

  - name: 'Anyenv : Add profile settings for anyenv'
    lineinfile:
      dest: '/home/pi/.profile'
      line: '{{ item }}'
      owner: 'pi'
      group: 'pi'
      create: yes
    with_items:
      - 'export PATH="{{ ANYENV_PREFIX }}/anyenv/bin:$PATH"'
      - 'eval "$(anyenv init -)"'
    become: yes

  - name: 'Anyenv : Add profile settings for anyenv'
    lineinfile:
      dest: '/etc/skel/.profile'
      line: '{{ item }}'
      owner: 'root'
      group: 'root'
      create: yes
    with_items:
      - 'export PATH="{{ ANYENV_PREFIX }}/anyenv/bin:$PATH"'
      - 'eval "$(anyenv init -)"'
    become: yes

#  when: not st_anyenv.stat.exists


#$ echo 'export PATH="$HOME/.anyenv/bin:$PATH"' >> ~/.profile
#$ echo 'eval "$(anyenv init -)"' >> ~/.profile

# pyenv
#$ anyenv install pyenv
#$ exec $SHELL -l
#$ git clone https://github.com/pyenv/pyenv-virtualenv.git $(pyenv root)/plugins/pyenv-virtualenv
#$ sudo apt install -y libbz2-dev libreadline-dev libsqlite3-dev libssl-dev
#$ pyenv install 3.6.5
#$ pyenv virtualenv 3.6.5 rds


# RDS
#$ sudo apt install libffi-dev ffmpeg




#- name: 'Hostname : Change /etc/hosts'
#  lineinfile:
#    dest: /etc/hosts
#    line: "127.0.1.1\t{{ RASPBERRYPI_HOSTNAME }}"
#    regexp: ^127.0.1.1.*$
#  become: yes
